# prometheus_datasource.yml.j2

apiVersion: 1

# list of datasources that should be deleted from the database
# before inserting new datasources
deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  # < -- Prometheus Data Source -- >
  - name: Prometheus # Display name in Grafana
    type: prometheus # Data source type
    access: proxy    # Access mode (proxy is standard)
    url: http://localhost:{{ prometheus_web_port }} # <-- Connect to Prometheus server
    isDefault: true # Make this the default data source
    editable: true  # Allow editing in the Grafana UI
    version: 1
    # Add any other necessary settings here (e.g., basic auth)